body{
    background-color: rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
}
h1{
    background-color: #000000;
    color: #ffffff;
}
h2{
    font-weight: 900;
}
p{
    font-weight: 600;
}
.subtitle{
    background-color: darkmagenta;
    color: white;
}
ul,
ol{
    color: darkmagenta;
    font-weight: 600;
    background-color: rgba(205, 205, 205, 0.431);
    text-align: left;
}
